* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  background-color: #caf0f8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  margin: 0% 0% 5%;
  font-size: larger;
  font-weight: bold;
  font-family: "Silkscreen", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to left,
    #841c26 15%,
    #af125a 30%,
    #e760eb 50%,
    #00a9d4 60%,
    #242dc4 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 3%; */
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: white;
}

/* #canvas {
  display: flex;

  width: 100%;
  height: 100%;
} */

#canvas-fallback {
  /* border: 1px black solid; */
  display: flex;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(
    to left,
    #af125a 20%,
    #e760eb 50%,
    #00a9d4 70%,
    #242dc4 90%
  );
  background-clip: content-box;
  -webkit-background-clip: content-box;
  color: transparent;
}

@keyframes go-up {
  0% {
    top: 300px;
  }
  50% {
    top: 400px;
  }
  100% {
    top: 500px;
  }
}
