* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  --square-size: 100px;
  --square-init: -100px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 2%;
  background-color: #caf0f8;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20%;
  width: 100%;
  font-size: large;
  font-weight: bold;
  font-family: "Silkscreen", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to left,
    #841c26 15%,
    #af125a 30%,
    #e760eb 50%,
    #00a9d4 60%,
    #242dc4 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

main {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
  /* padding: 3%; */
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: cornsilk;
}

#square {
  /* border: 1px black solid; */
  display: flex;
  width: var(--square-size);
  height: var(--square-size);
  position: relative;
}

#square::after {
  content: "";
  width: var(--square-size);
  height: var(--square-size);
  display: flex;
  position: relative;
  top: var(--square-init);
  left: var(--square-init);
  -webkit-animation: rainbow 20s steps(1) infinite;
}

@-webkit-keyframes rainbow {
  0% {
    box-shadow: var(--square-size) var(--square-size) darkblue;
  }
  10% {
    box-shadow: var(--square-size) var(--square-size) blue;
  }
  20% {
    box-shadow: var(--square-size) var(--square-size) turquoise;
  }
  30% {
    box-shadow: var(--square-size) var(--square-size) greenyellow;
  }
  40% {
    box-shadow: var(--square-size) var(--square-size) yellow;
  }
  50% {
    box-shadow: var(--square-size) var(--square-size) orange;
  }
  60% {
    box-shadow: var(--square-size) var(--square-size) red;
  }
  70% {
    box-shadow: var(--square-size) var(--square-size) darkred;
  }
  80% {
    box-shadow: var(--square-size) var(--square-size) darkmagenta;
  }
  90% {
    box-shadow: var(--square-size) var(--square-size) indigo;
  }
}
